# Borrador Proyecto IMT-2200 Grupo 28


Este jupyter notebook tiene como proposito hacer el analisis de admision a la educacion superior dentro de los años 20xx'2024.
Esta echo de manera explicativa con graficos y interpretaciones para cada caso, se recomienda ir directo a la seccion de Interpretacion para saltarse la parte tecnica.

## Índice

- **Import de librería**

- **Lectura de archivos**
    - Leer el archivo de datos
    - Vista previa de los datos

- **Limpieza de datos**
    - Eliminar null y datos inconsistentes
    - Corregir errores
    - Tratar con duplicados
    - Renombrar columnas

- **Análisis de los Datos(EDA)**
    - Juntar bases
    - Hacer gráficos
    - ...

- **Conclusiones**

## Import de librerias a utilizar


- **Pandas**: Creación del DataFrame, su limpieza, joins, groupby, etc.
- **Numpy**: Pasar algunos datos a arreglos, vectores y matrices.
- **Matplotlib**: Gráficos.
- **Plotly**: Gráficos interactivos para la exploración y visualización.
- **...**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from pathlib import Path
#import geopandas as gpd

## Lectura de Archivos

**-Leer el archivo de datos**

In [2]:
## no eliminar, me sirvio para generar mi codigo, saco ideas de aqui para la lectura de los demas, cuando sea necesario...
dataframes = []
print("si")
#idea, crear el dataframe
for num in range(2004 ,2026):
    dataframe_actual = []
    num = str(num)
    ruta = Path(f"raw_data/{num}")
    csv = ruta.glob("**/*.csv")
    exel = ruta.glob("**/*.xslx")
    
    for archivo in csv:
        dataframe_actual.append(pd.read_csv(archivo , sep = ";" , low_memory=False))
    for archivo_e in exel:
        #excel da problemitas xdddd
        try:
            dataframe_actual.append(pd.read_excel(archivo_e , engine = "openpyxl"))
        finally:
            pass

    dataframes.append(pd.concat(dataframe_actual, axis = 0))

si

KeyboardInterrupt:

In [2]:
adm = []   # adm> lista con  df admision por years 

#archivos de admision estan en  ArchivoC_Adm20xx
print("Iniciando lectura ... \n \n")
for num in range(2004 ,2026):
    ruta = Path(f"raw_data/{num}")
    csv = ruta.glob(f"**/ArchivoC_Adm{num}*.csv")
    
    for archivo in csv:
        print(archivo)
        adm.append(pd.read_csv(archivo , sep = ";" , low_memory=False))
if len(adm) == 22:
    print("\n\nLectura correcta datos admision 2004-2025")
else:
    print("\n\n Error en la lectura de datos, faltan archivos/mala lectura")

Iniciando lectura ...


raw_data\2004\PROCESO-DE-ADMISIÓN-2004-RENDICIÓN-17-12-2024T15-39-17\Rinden_Admisión2004\ArchivoC_Adm2004.csv
raw_data\2005\PROCESO-DE-ADMISIÓN-2005-RENDICIÓN-17-12-2024T15-43-59\Rinden_Admisión2005\ArchivoC_Adm2005.csv
raw_data\2006\PROCESO-DE-ADMISIÓN-2006-RENDICIÓN-17-12-2024T15-50-29\Rinden_Admisión2006\ArchivoC_Adm2006.csv
raw_data\2007\PROCESO-DE-ADMISIÓN-2007-RENDICIÓN-17-12-2024T15-57-04\Rinden_Admisión2007\ArchivoC_Adm2007.csv
raw_data\2008\PROCESO-DE-ADMISIÓN-2008-RENDICIÓN-17-12-2024T16-00-49\Rinden_Admisión2008\ArchivoC_Adm2008.csv
raw_data\2009\PROCESO-DE-ADMISIÓN-2009-RENDICIÓN-17-12-2024T16-10-42\Rinden_Admisión2009\ArchivoC_Adm2009.csv
raw_data\2010\PROCESO-DE-ADMISIÓN-2010-RENDICIÓN-17-12-2024T16-13-20\Rinden_Admisión2010\ArchivoC_Adm2010.csv
raw_data\2011\PROCESO-DE-ADMISIÓN-2011-RENDICIÓN-17-12-2024T16-15-41\Rinden_Admisión2011\ArchivoC_Adm2011.csv
raw_data\2012\PROCESO-DE-ADMISIÓN-2012-RENDICIÓN-17-12-2024T16-18-42\Rinden_Admisión2012\ArchivoC_Adm2012.csv
raw_data\2013\PROCESO-DE-ADMISIÓN-2013-RENDICIÓN-17-12-2024T16-24-35\Rinden_Admisión2013\ArchivoC_Adm2013.csv
raw_data\2014\PROCESO-DE-ADMISIÓN-2014-RENDICIÓN-17-12-2024T16-27-59\Rinden_Admisión2014\ArchivoC_Adm2014.csv
raw_data\2015\PROCESO-DE-ADMISIÓN-2015-RENDICIÓN-17-12-2024T16-16-24\Rinden_Admisión2015\ArchivoC_Adm2015.csv
raw_data\2016\PROCESO-DE-ADMISIÓN-2016-RENDICIÓN-10-01-2025T08-59-18\Rinden_Admisión2016\ArchivoC_Adm2016.csv
raw_data\2017\PROCESO-DE-ADMISIÓN-2017-RENDICIÓN-17-12-2024T16-29-59\Rinden_Admisión2017\ArchivoC_Adm2017.csv
raw_data\2018\PROCESO-DE-ADMISIÓN-2018-RENDICIÓN-17-12-2024T16-03-30\Rinden_Admisión2018\ArchivoC_Adm2018.csv
raw_data\2019\PROCESO-DE-ADMISIÓN-2019-RENDICIÓN-17-12-2024T15-57-28\Rinden_Admisión2019\ArchivoC_Adm2019.csv
raw_data\2020\PROCESO-DE-ADMISIÓN-2020-RENDICIÓN-17-12-2024T15-53-38\Rinden_Admisión2020\ArchivoC_Adm2020.csv
raw_data\2021\PROCESO-DE-ADMISIÓN-2021-RENDICIÓN-17-12-2024T15-45-50\Rinden_Admisión2021\ArchivoC_Adm2021.csv
raw_data\2022\PROCESO-DE-ADMISIÓN-2022-RENDICIÓN-17-12-2024T15-40-13\Rinden_Admisión2022\ArchivoC_Adm2022.csv
raw_data\2023\PROCESO-DE-ADMISIÓN-2023-RENDICIÓN-17-12-2024T15-34-10\Rinden_Admisión2023\ArchivoC_Adm2023.csv
raw_data\2024\PROCESO-DE-ADMISIÓN-2024-RENDICIÓN-17-12-2024T14-37-22\Rinden_Admisión2024\ArchivoC_Adm2024.csv
raw_data\2025\PROCESO-DE-ADMISIÓN-2025-RENDICIÓN-19-01-2025T23-39-20\Rinden_Admisión2025\ArchivoC_Adm2025.csv


Lectura correcta datos admision 2004-2025

**-Vista previa de los datos**

In [26]:
adm[0].head()

,ID_aux,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,PROM_NOTAS,PTJE_NEM
0,id_001160071115,3,T1,1,1,201.0,469,457,437,426,63,682
1,id_0016900171627,3,H2,5,3,240.0,492,457,513,0,53,481
2,id_0016900571641,3,T1,5,2,225.0,391,442,0,396,48,376
3,id_0028900472899,3,H1,1,8,415.0,353,487,402,0,48,373
4,id_004500078456,2,H2,1,10,510.0,430,425,451,0,54,501

In [29]:
adm[21].head()

,ID_aux,RBD,COD_ENS,GRUPO_DEPENDENCIA,RAMA_EDUCACIONAL,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PORC_SUP_NOTAS,...,MATE2_REG_ANTERIOR,HCSOC_REG_ANTERIOR,CIEN_REG_ANTERIOR,MODULO_REG_ANTERIOR,CLEC_INV_ANTERIOR,MATE1_INV_ANTERIOR,MATE2_INV_ANTERIOR,HCSOC_INV_ANTERIOR,CIEN_INV_ANTERIOR,MODULO_INV_ANTERIOR
613,id_9950999675025,8636.0,310.0,2.0,H1,5,13.0,13127.0,"5,25",80,...,379.0,0.0,504.0,QUI,654.0,651.0,406.0,0.0,456.0,FIS
2131,id_1943919174349,12260.0,310.0,2.0,H1,5,13.0,13101.0,"6,05",10,...,676.0,789.0,724.0,FIS,784.0,974.0,745.0,872.0,661.0,FIS
2642,id_4974949277468,24988.0,310.0,1.0,H1,5,13.0,13201.0,"6,78",10,...,613.0,0.0,787.0,BIO,813.0,886.0,654.0,0.0,842.0,BIO
3155,id_4370943377060,2973.0,310.0,3.0,H1,5,7.0,7101.0,6,50,...,0.0,0.0,887.0,BIO,933.0,905.0,0.0,0.0,870.0,BIO
3261,id_4644946874478,8474.0,310.0,4.0,H1,5,12.0,12301.0,"6,7",10,...,0.0,0.0,617.0,BIO,869.0,623.0,0.0,0.0,606.0,BIO

###### Nota: Se me ocurrió la idea de visualizar cuánto sube en promedio el puntaje de la gente que da la PAES por segunda vez. 
###### ¿Vale la pena volver a darla?

## Limpieza de datos

-**Eliminar null y datos inconsistentes**

In [22]:
for y in range(len(adm)):
    adm[y].dropna(inplace=True)

In [28]:
adm[0].head()

,ID_aux,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,PROM_NOTAS,PTJE_NEM
0,id_001160071115,3,T1,1,1,201.0,469,457,437,426,63,682
1,id_0016900171627,3,H2,5,3,240.0,492,457,513,0,53,481
2,id_0016900571641,3,T1,5,2,225.0,391,442,0,396,48,376
3,id_0028900472899,3,H1,1,8,415.0,353,487,402,0,48,373
4,id_004500078456,2,H2,1,10,510.0,430,425,451,0,54,501

In [37]:
adm[8].head()

,ID_aux,RBD,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,MODULO_ACTUAL,LENG_ANTERIOR,MATE_ANTERIOR,HCSO_ANTERIOR,CIEN_ANTERIOR,MODULO_ANTERIOR,PROM_NOTAS,PTJE_NEM
43,id_0000900470063,8680,2,H1,5,13,13101.0,540,692,0,574,QUI,591,633,0,554,BIO,57,558
104,id_0001900570117,253,2,H1,5,2,2201.0,422,466,0,479,FIS,502,497,0,468,FIS,61,641
227,id_0002900870278,24317,2,H1,5,12,12401.0,557,559,0,470,BIO,525,556,0,510,BIO,59,599
424,id_0005900870551,17812,2,H1,5,8,8103.0,524,510,0,501,BIO,514,470,0,554,BIO,53,476
572,id_0007900870760,17893,1,H1,5,8,8401.0,589,0,0,507,QUI,614,630,0,619,QUI,55,517

**-Corregir errores**

**-Tratar con duplicados**

**-Renombrar columnas**