In [2]:
import pickle

In [3]:
with open('pkl-data/adm_lista.pkl', 'rb') as lectura:
    adm = pickle.load(lectura)

In [4]:
adm[0]

,ID_aux,GRUPO_DEPENDENCIA,RAMA,SITUACION_EGRESO,CODIGO_REGION,CODIGO_COMUNA,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL,PROM_NOTAS,PTJE_NEM
0,id_001160071115,3,T1,1,1,201.0,469,457,437,426,63,682
1,id_0016900171627,3,H2,5,3,240.0,492,457,513,0,53,481
2,id_0016900571641,3,T1,5,2,225.0,391,442,0,396,48,376
3,id_0028900472899,3,H1,1,8,415.0,353,487,402,0,48,373
4,id_004500078456,2,H2,1,10,510.0,430,425,451,0,54,501
...,...,...,...,...,...,...,...,...,...,...,...,...
153977,id_9980999078023,3,H1,5,5,302.0,492,322,311,0,54,496
153978,id_998409971843,3,H3,2,13,NaN,461,258,576,0,52,460
153979,id_9991599279193,2,H1,1,9,490.0,414,492,0,474,57,558
153980,id_9991999579165,3,T1,5,5,314.0,538,524,499,451,47,356
153981,id_999809975987,2,H1,5,13,619.0,476,403,0,451,45,311